* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: cornsilk;
}
.candidate-reg-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-size: clamp(0.9rem, 1.5vw, 3rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: cornsilk;
}

.candidate-fields {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.fields {
  height: 100%;
  color: rgb(14, 9, 9);
  width: 100%;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fields span {
  text-transform: lowercase;
}

.fields input {
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  color: rgb(69, 57, 57);
  width: 70%;
  height: 80%;
  background-color: antiquewhite;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.fields select {
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  color: rgb(69, 57, 57);
  width: 70%;
  height: 80%;
  background-color: antiquewhite;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.fields input:hover {
  background-color: rgb(194, 176, 152);
  border: 2px solid rgb(0, 0, 0);
}
.fields1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.fields1 button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 3rem);
  text-transform: uppercase;
  font-weight: bold;
  /* display: inline-block; */
  padding: 25% 40%;
  background-color: #ccc;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.fields1 a {
  width: 100%;
  height: 100%;
  background-color: blue;
}
.fields1 button:hover {
  background-color: pink;
  border: 2px solid rgb(246, 215, 220);
  border-radius: 7px;
}

.fields1 button:focus {
  outline: none;
  background-color: pink;
  border: 2px solid pink;
  border-radius: 7px;
}
