body {
  background-color: azure;
}
.table-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1%;
  border-radius: 10px;
}

.table-header-item {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(0.7rem, 1.2vw, 2rem);
  padding: 1%;
  background-color: plum;
  border-radius: 7px;
  text-align: center;
}

.content-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1%;
  border-radius: 10px;
}
.content-rows {
  text-transform: lowercase;
  color: antiquewhite;
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1%;
  background-color: rgb(10, 97, 97);
  border-radius: 10px;
}
.content {
  border-right: 3px solid white;
}

.ajax-button {
  display: flex;
  gap: 1%;
  justify-content: center;
  align-items: center;
}

.ajax-button #getBtn {
  background-color: greenyellow;
  padding: 1%;
  border-radius: 6px;
}
.ajax-button #deleteBtn {
  background-color: rgb(255, 87, 87);
  padding: 1%;
  border-radius: 6px;
}
